cmake-build-*/
build*/
*.swp
.idea/
*.o
src/MarDyn
src/MarDyn.*
!src/MarDyn.cpp
src/MarDyn_*.*
!src/MarDyn_version.h
.project
.settings
*.so.1.0
*.a
*.so
doxygen_doc/
examples/EOX/305K_liq/config_autopas.restart.dat
examples/EOX/305K_liq/config_autopas.xml
examples/EOX/305K_liq/cp_binary-0.restart.dat
.gitignore
examples/EOX/305K_liq/cp_binary-0.restart.header.xml
.gitignore
examples/EOX/305K_liq/megamol_0001.mmpld
examples/EOX/305K_liq/result.res
