<?xml version='1.0' encoding='UTF-8'?>
<mardyn version="20100525" >

	<refunits type="SI" >
		<length unit="nm">0.1</length>
		<mass unit="u">1</mass>
		<energy unit="K">1</energy>
	</refunits>

	<simulation type="MD" >
		<integrator type="Leapfrog" >
			<timestep unit="reduced" >0.00182367</timestep>
		</integrator>

		<run>
			<currenttime>0.0</currenttime>	
			<production>
				<steps>100000</steps>
			</production>
		</run>

		<ensemble type="NVT">
			<!-- Nparticles determined by the input file -->
			<temperature unit="reduced" >220</temperature>
			<domain type="box">
				<lx>60</lx>
				<ly>240</ly>
				<lz>60</lz>
			</domain>

			<components>
				<include query="/components/moleculetype" >./components_co2_merker.xml</include>
			</components>

			<phasespacepoint>
				<file type="adios2">
					<filename>co2_merkers_checkpoint.bp</filename>
					<adios2enginetype>BP4</adios2enginetype>
					<adios2step>0</adios2step>
					<mode>rootOnly</mode>
				</file>
			</phasespacepoint>
		</ensemble>

		<algorithm>
			<parallelisation type="DomainDecomposition">
				 <!-- structure handled by DomainDecompMPIBase -->
				<!-- <MPIGridDims> <x>2</x> <y>2</y> <z>2</z> </MPIGridDims> -->
			</parallelisation>
<!--
			<parallelisation type="KDDecomposition">
				<CommunicationScheme>direct</CommunicationScheme>
				<updateFrequency>100000</updateFrequency>
				<fullSearchThreshold>3</fullSearchThreshold>
				<splitBiggestDimension>0</splitBiggestDimension>
				<useVectorizationTuner>0</useVectorizationTuner>
				<generateNewFiles>0</generateNewFiles>
				<useExistingFiles>0</useExistingFiles>
			</parallelisation>
-->
			<datastructure type="LinkedCells">
				<cellsInCutoffRadius>1</cellsInCutoffRadius>
			</datastructure>
			<cutoffs type="CenterOfMass" >
				<defaultCutoff unit="reduced" >11.902</defaultCutoff> <!-- sigma=2.9755 => 3*sigma=8.9265, 4*sigma=11.902 5*sigma=14.8775-->
				<radiusLJ unit="reduced" >11.902</radiusLJ>
			</cutoffs>
			<electrostatic type="ReactionField" >
				<epsilon>1.0e+10</epsilon>
			</electrostatic>
		</algorithm>

		<output>
			<outputplugin name="Adios2Writer">
				<outputfile>co2_merkers.bp</outputfile>
				<adios2enginetype>BP4</adios2enginetype>
				<writefrequency>50000</writefrequency>
			</outputplugin>
		</output>
		
	</simulation>

</mardyn>
