<?xml version="1.0" encoding="UTF-8"?>
<mardyn version="20100525">
	<refunits type="SI">
		<length unit="nm">0.1</length>
		<mass unit="u">1</mass>
		<energy unit="K">1</energy>
	</refunits>
	<simulation type="MD">
		<integrator type="Leapfrog">
			<timestep unit="reduced">0.00182367</timestep>
		</integrator>
		<run>
			<currenttime>0</currenttime>
			<production>
				<steps>1000</steps>
			</production>
		</run>
		<ensemble type="NVT">
			<temperature unit="reduced">118</temperature>
			<domain type="box">
				<lx>436.57932</lx>
				<ly>982.30347</ly>
				<lz>436.57932</lz>
			</domain>
			<components>
				<include query="/components/moleculetype">../../components.xml</include>
			</components>
			<phasespacepoint>
				<generator name="ReplicaGenerator">
					<type>heterogeneous_VLV</type>
					<files>
						<liquid>
							<header>../../liq/run01/cp_binary-1.restart.header.xml</header>
							<data>../../liq/run01/cp_binary-1.restart.xdr</data>
						</liquid>
						<vapor>
							<header>../../vap/run01/cp_binary-10.restart.header.xml</header>
							<data>../../vap/run01/cp_binary-10.restart.xdr</data>
						</vapor>
					</files>
					<numblocks>
						<xz>8</xz>
						<liquid>6</liquid>
						<vapor>6</vapor>
					</numblocks>
					<diameter>4.3675</diameter>
				</generator>
			</phasespacepoint>
		</ensemble>
		<algorithm>
			<parallelisation type="DomainDecomposition"/>
			<datastructure type="LinkedCells">
				<cellsInCutoffRadius>1</cellsInCutoffRadius>
			</datastructure>
			<cutoffs type="CenterOfMass">
				<radiusLJ unit="reduced">9.0</radiusLJ>
			</cutoffs>
			<electrostatic type="ReactionField">
				<epsilon>1.0e+10</epsilon>
			</electrostatic>
		</algorithm>
		<output>
			<outputplugin name="CheckpointWriter">
				<type>binary</type>
				<writefrequency>1000</writefrequency>
				<outputprefix>cp_binary</outputprefix>
			</outputplugin>
			<outputplugin name="MmpldWriter" type="multi">
				<include query="/spheres">../../sphereparams_n2.xml</include>
				<writecontrol>
					<start>0</start>
					<writefrequency>10</writefrequency>
					<stop>1000000000</stop>
					<framesperfile>10</framesperfile>
				</writecontrol>
				<outputprefix>megamol</outputprefix>
			</outputplugin>
			<outputplugin name="ResultWriter">
				<writefrequency>100</writefrequency>
				<outputprefix>result</outputprefix>
			</outputplugin>
			<outputplugin name="SysMonOutput">
				<writefrequency>10</writefrequency>
				<expression label="procloadavg:loadavg1">procloadavg:loadavg1</expression>
				<expression label="Free+BufferRAM [MB]">sysinfo:freeram sysinfo:bufferram + sysinfo:mem_unit * float 1048576 /</expression>
				<expression label="procselfstatm:size 1048576. /">procselfstatm:size 1048576. /</expression>
			</outputplugin>
		</output>
	</simulation>
</mardyn>
