<?xml version='1.0' encoding='UTF-8'?>
<mardyn version="20100525" >
    <refunits type="SI" >
        <length unit="nm">1.0</length>
        <mass unit="u">1.0</mass>
        <energy unit="eV">1.0</energy>
    </refunits>

    <!-- simulation options -->
    <simulation type="MD" >
        <run>
            <currenttime>0</currenttime>
            <equilibration>
                <steps>0</steps>
            </equilibration>
            <production>
                <steps>20000</steps>
            </production>
        </run>
        <integrator type="Langevin">
            <!-- MD ODE integrator -->
            <timestep unit="reduced">0.001</timestep>
            <friction>0.1</friction>
            <ActiveRegions>
                <region>
                    <lower> <x>0</x> <y>0</y> <z>0</z> </lower>
                    <upper> <x>36</x> <y>20</y> <z>20</z> </upper>
                </region>
            </ActiveRegions>
        </integrator>
        <ensemble type="NVT">
            <!-- Target temperature is 1000K -->
            <!-- real gas closer to ideal gas at higher temperatures but lower pressures -->
            <temperature unit="reduced" >8.3144621</temperature>
            <domain type="box">
                <lx unit="reduced">36</lx>
                <ly unit="reduced">20</ly>
                <lz unit="reduced">20</lz>
            </domain>
            <!-- instead of lx/ly/lz we might accept density -->
            <components>
                <include query="/components/moleculetype">./components.xml</include>
            </components>

            <phasespacepoint>
                <generator name="MultiObjectGenerator">
                    <objectgenerator>
                        <filler type="ReplicaFiller">
                            <input type="BinaryReader">
                                <header>SemiIdealGas-1.restart.header.xml</header>
                                <data>SemiIdealGas-1.restart.dat</data>
                            </input>
                        </filler>

                        <object type="Cuboid">
                            <lower> <x>0</x> <y>0</y> <z>0</z> </lower>
                            <upper> <x>36</x> <y>20</y> <z>20</z> </upper>
                        </object>
                    </objectgenerator>
                </generator>
            </phasespacepoint>
        </ensemble>

        <algorithm>
            <parallelisation type="DomainDecomposition"/>
            <datastructure type="LinkedCells">
                <cellsInCutoffRadius>1</cellsInCutoffRadius>
                <traversalSelector>c08</traversalSelector>
            </datastructure>
            <cutoffs type="CenterOfMass" >
                <radiusLJ unit="reduced" >2.5</radiusLJ>
            </cutoffs>
            <electrostatic type="ReactionField" >
                <epsilon>0</epsilon>
            </electrostatic>
            <thermostats>
                <thermostat type="TemperatureObserver">
                    <samples>100</samples>
                    <ActiveRegions>
                        <region>
                            <lower> <x>0</x> <y>0</y> <z>0</z> </lower>
                            <upper> <x>36</x> <y>20</y> <z>20</z> </upper>
                        </region>
                    </ActiveRegions>
                </thermostat>
            </thermostats>
        </algorithm>

        <output>
            <outputplugin name="CheckpointWriter">
                <type>binary</type>
                <writefrequency>20000</writefrequency>
                <outputprefix>SemiIdealGas-20k-TMP</outputprefix>
            </outputplugin>
            <outputplugin name="PressureProfiler">
                <bins>
                    <x>18</x><y>10</y><z>10</z>
                </bins>
                <outdims>x</outdims>
                <mode>Direct</mode>
                <samples>100</samples>
                <sampleFreq>10</sampleFreq>
                <writeFreq>100</writeFreq>
                <start>19000</start>
                <filename>SemiIdealGas-Pressure-TMP_</filename>
            </outputplugin>
        </output>

        <plugin name="SpatialProfile">
            <mode>cartesian</mode>
            <x>100</x>
            <y>1</y>
            <z>1</z>
            <writefrequency>2000</writefrequency>
            <timesteps>
                <init>1</init>
                <recording>1</recording>
            </timesteps>
            <outputprefix>SemiIdealGas-density-TMP_</outputprefix>
            <profiledComponent>all</profiledComponent>
            <profiles>
                <density>true</density>
                <temperature>false</temperature>
                <velocity>false</velocity>
                <velocity3d>false</velocity3d>
                <virial>false</virial>
            </profiles>
        </plugin>
    </simulation>
</mardyn>
