<?xml version='1.0' encoding='UTF-8'?>
<mardyn version="20100525" >

	<refunits type="SI" >
		<length unit="nm">0.1</length>
		<mass unit="u">1</mass>
		<energy unit="K">1</energy>
	</refunits>

	<simulation type="MD" >
		<integrator type="Leapfrog" >
			<timestep unit="reduced">0.00456</timestep>  <!-- 5 fs -->
		</integrator>

		<run>
			<currenttime>0.0</currenttime> 
			<production>
				<steps>10</steps>
			</production>
		</run>

		<ensemble type="NVT">
			<!-- Nparticles determined by the input file -->
			<temperature unit="reduced" >0.80</temperature>
			<domain type="box">
				<lx>600</lx>
				<ly>1200</ly>
				<lz>600</lz>
			</domain>

			<components>
				<include query="/components/moleculetype" >../../../comp/components_4c.xml</include>
				<include query="/mixing">../../../comp/mixing_4c.xml</include>
			</components>

		   <phasespacepoint>
				<generator name="MultiObjectGenerator">
					<objectgenerator>
						<filler type="ReplicaFiller">
							<input type="BinaryReader">
								<header>../../../liq/sim02/run03/cp_binary-0.restart.header.xml</header>
								<data>../../../liq/sim02/run03/cp_binary-0.restart.dat</data>
							</input>
						</filler>

						<object type="Cylinder">
							<centerBase> <x>300</x> <y>0</y> <z>300</z> </centerBase>
							<radius>100</radius>
							<height>150</height>
							<direction>1</direction>
						</object>
					</objectgenerator>

					<objectgenerator>
					   <filler type="GridFiller">
							<lattice system="cubic" centering="face">
								<vec id="a"> <x>1</x> <y>0</y> <z>0</z> </vec>
								<vec id="b"> <x>0</x> <y>1</y> <z>0</z> </vec>
								<vec id="c"> <x>0</x> <y>0</y> <z>1</z> </vec>
							</lattice>
							<basis>
								<site>
									<componentid>2</componentid>
									<coordinate> <x>0.5</x> <y>0.5</y> <z>0.5</z> </coordinate>
								</site>
							</basis>
							<latticeOccupancy>1</latticeOccupancy>
							<density>0.9</density>
						</filler>

						<object type="ObjectSubtractor">
							<object1 type="Cylinder">
								<centerBase> <x>300</x> <y>0</y> <z>300</z> </centerBase>
								<radius>105</radius>  <!-- x-z plane -->
								<height>150</height> <!-- y-direction -->
								<direction>1</direction>
							</object1>
							<object2 type="Cylinder">
								<centerBase> <x>300</x> <y>0</y> <z>300</z> </centerBase>
								<radius>100.5</radius> <!-- x-z plane -->
								<height>150</height>  <!-- y-direction -->
								<direction>1</direction>
							</object2>
						</object>
					</objectgenerator>
				</generator>
		   </phasespacepoint>
		</ensemble>

		<algorithm>

			<parallelisation type="DomainDecomposition">
				<!-- structure handled by DomainDecompMPIBase
				<MPIGridDims> <x>2</x> <y>20</y> <z>2</z> </MPIGridDims> -->
			</parallelisation>
<!--
			<parallelisation type="KDDecomposition">
				<CommunicationScheme>direct</CommunicationScheme>
				<updateFrequency>100000</updateFrequency>
				<fullSearchThreshold>3</fullSearchThreshold>
				<splitBiggestDimension>false</splitBiggestDimension>
				<useVectorizationTuner>false</useVectorizationTuner>
				<generateNewFiles>false</generateNewFiles>
				<useExistingFiles>false</useExistingFiles>
			</parallelisation>
-->
			<datastructure type="LinkedCells">
				<cellsInCutoffRadius>1</cellsInCutoffRadius>
			</datastructure>
			<cutoffs type="CenterOfMass" >
			<defaultCutoff unit="reduced" >2.5</defaultCutoff>
				<radiusLJ unit="reduced" >2.5</radiusLJ>
			</cutoffs>
			<electrostatic type="ReactionField" >
				<epsilon>1.0e+10</epsilon>
			</electrostatic>
		</algorithm>

		<output>
			<outputplugin name="CheckpointWriter">
				<type>binary</type>
				<writefrequency>50000</writefrequency>
				<outputprefix>cp_binary</outputprefix>
			</outputplugin>

			<outputplugin name="MmpldWriter" type="simple">
				<include query="/spheres" >../../../comp/sphereparams_4c.xml</include>
				<writecontrol>
					<start>0</start>
					<writefrequency>5</writefrequency>
					<stop>10</stop>
					<framesperfile>0</framesperfile>
				</writecontrol>
				<outputprefix>megamol</outputprefix>  
			</outputplugin>
		</output>

	</simulation>

</mardyn>
