<?xml version="1.0" encoding="UTF-8"?>
<mardyn version="20100525">
  <refunits type="SI">
    <length unit="nm">0.1</length>
    <mass unit="u">1</mass>
    <energy unit="K">1</energy>
  </refunits>
  <simulation type="MD">
    <integrator type="Leapfrog">
      <timestep unit="reduced">0.00182367</timestep>
    </integrator>
    <run>
      <currenttime>0</currenttime>
      <production>
        <steps>100000</steps>
      </production>
    </run>
    <ensemble type="NVT">
      <temperature unit="reduced">293.44</temperature>
      <domain type="box">
        <lx>60</lx>
        <ly>208.8615</ly>
        <lz>60</lz>
      </domain>
      <components>
        <include query="/components/moleculetype">../components_co2_stoll.xml</include>
      </components>
      <phasespacepoint>
        <file type="ASCII">../CO2_LJ93Wall.xdr</file>
      </phasespacepoint>
    </ensemble>
    <algorithm>
      <parallelisation type="DomainDecomposition"/>
      <datastructure type="LinkedCells">
        <cellsInCutoffRadius>1</cellsInCutoffRadius>
      </datastructure>
      <cutoffs type="CenterOfMass">
        <radiusLJ unit="reduced">14.9235</radiusLJ>
      </cutoffs>
      <electrostatic type="ReactionField">
        <epsilon>1.0e+10</epsilon>
      </electrostatic>
      <thermostats>
        <!-- NEW PLUGIN VERSION -->
        <thermostat type="TemperatureControl">
          <control>
            <start>0</start>
            <frequency>1</frequency>
            <stop>1000000000</stop>
          </control>
          <regions>
            <region>
              <method>Andersen</method>
              <coords>
                <lcx>0.0</lcx>
                <lcy>0.0</lcy>
                <lcz>0.0</lcz>
                <ucx>60</ucx>
                <ucy>208.8615</ucy>
                <ucz>60</ucz>
              </coords>
              <target>
                <temperature>293.44</temperature>
                <component>1</component>
              </target>
              <settings>
                <nu>0.05</nu>
              </settings>
            </region>
            <!--
            <region>
              <method>Andersen</method>
              <coords>
                <lcx>0.0</lcx>
                <lcy>0.0</lcy>
                <lcz>0.0</lcz>
                <ucx>60</ucx>
                <ucy>104.8615</ucy>
                <ucz>60</ucz>
              </coords>
              <target>
                <temperature>293.44</temperature>
                <component>1</component>
              </target>
              <settings>
                <nu>0.05</nu>
              </settings>
            </region>
                      
            <region>
              <method>VelocityScaling</method>
              <coords>
                <lcx>0.0</lcx>
                <lcy>104.8615</lcy>
                <lcz>0.0</lcz>
                <ucx>60</ucx>
                <ucy>208.8615</ucy>
                <ucz>60</ucz>
              </coords>
              <target>
                <temperature>293.44</temperature>
                <component>1</component>
              </target>
              <settings>
                <numslabs>50</numslabs>
                <exponent>0.4</exponent>
                <directions>xyz</directions>
              </settings>
              <writefreq>1000</writefreq>
              <fileprefix>beta_log</fileprefix>
            </region>
          -->
          </regions>
        </thermostat>
      </thermostats>
    </algorithm>

    <output>
      <outputplugin name="VTKMoleculeWriter">
      	<outputprefix>vtkOutput</outputprefix>
      	<writefrequency>100</writefrequency>
      </outputplugin>
    </output>

    <!-- NEW PLUGIN VERSION -->
    <plugin name="WallPotential">
      <potential>104</potential>
      <density>1.0</density>
      <sigma>3.499976678</sigma>
      <epsilon>0.8</epsilon>
      <yoff>105.23725</yoff>
      <ycut>17.49988339</ycut>
      <width>34.99976678</width>
      <delta>0.775</delta>
      <component id="1">
        <xi>1.0</xi>
        <eta>1.0</eta>
      </component>
    </plugin>

  </simulation>
</mardyn>
