<?xml version="1.0" encoding="UTF-8"?>
<mardyn version="20100525">
  <refunits type="SI">
    <length unit="nm">0.0529177</length>
    <mass unit="u">1000</mass>
    <energy unit="eV">27.2126</energy>
  </refunits>
  <simulation type="MD">
    <integrator type="Leapfrog">
      <timestep unit="reduced">0.1224798</timestep>
    </integrator>
    <run>
      <currenttime>0</currenttime>
      <production>
        <steps>10</steps>
      </production>
    </run>
    <ensemble type="NVT">
      <temperature unit="reduced">9.02542795570889975E-004</temperature>
      <domain type="box">
        <lx>335.53917</lx>
        <ly>335.53917</ly>
        <lz>335.53917</lz>
      </domain>
      <components>
        <include query="/components/moleculetype">../components.xml</include>
      </components>
      <phasespacepoint>
        <file type="ASCII">EOX_305K_19.44.inp</file>
      </phasespacepoint>
    </ensemble>
    <algorithm>
      <parallelisation type="DomainDecomposition"/>
      <datastructure type="LinkedCells">
        <cellsInCutoffRadius>1</cellsInCutoffRadius>
      </datastructure>
      <cutoffs type="CenterOfMass">
        <radiusLJ unit="reduced">38.36144</radiusLJ>
      </cutoffs>
      <electrostatic type="ReactionField">
        <epsilon>1.0e+10</epsilon>
      </electrostatic>
    </algorithm>
    <output>
      <outputplugin name="CheckpointWriter">
        <type>binary</type>
        <writefrequency>1</writefrequency>
        <outputprefix>cp_binary</outputprefix>
      </outputplugin>
      <outputplugin name="MmpldWriter" type="multi" enabled = "no">
        <include query="/spheres">../sphereparams_eox.xml</include>
        <writecontrol>
          <start>0</start>
          <writefrequency>1</writefrequency>
          <stop>1000000000</stop>
          <framesperfile>0</framesperfile>
        </writecontrol>
        <outputprefix>megamol</outputprefix>
      </outputplugin>
      <outputplugin name="ResultWriter" enabled = "no">
        <writefrequency>1</writefrequency>
        <outputprefix>result</outputprefix>
      </outputplugin>
      <outputplugin name="SysMonOutput" enabled = "no">
        <writefrequency>1</writefrequency>
        <expression label="procloadavg:loadavg1">procloadavg:loadavg1</expression>
        <expression label="Free+BufferRAM [MB]">Free+BufferRAM [MB]</expression>
        <expression label="procloadavg:loadavg1">sysinfo:freeram sysinfo:bufferram + sysinfo:mem_unit * float 1048576 /</expression>
      </outputplugin>
    </output>
  </simulation>
</mardyn>
