<?xml version='1.0' encoding='UTF-8'?>
<mardyn version="20100525" >
    <refunits type="SI" >
        <!-- standard units - should be  used for internal reduction one day, but default for all values in simulation remain "reduced" -->
        <length unit="nm">0.0529177</length>	<!-- default: nm - also m,pm,fm or Angstroem may be used in the future? -->
        <mass unit="u">1000</mass> <!-- also atomistic mass unit Dalton "u" in the future? -->
        <energy unit="eV">27.2126</energy> <!-- again: offer other units -->
    </refunits>

    <!-- simulation options -->
    <simulation type="MD" >
        <run>
            <currenttime>0</currenttime>
            <production>
                <steps>2000</steps>
            </production>
        </run>
        <integrator type="Leapfrog">
            <!-- MD ODE integrator -->
            <timestep unit="reduced">0.001</timestep>
        </integrator>

        <ensemble type="NVT">
            <!--Ensemble is the main topic of the simulation -->
            <temperature unit="reduced" >100.</temperature>	<!-- in future also units="K" -->
            <domain type="box">
                <lx unit="reduced">400.</lx>
                <ly unit="reduced">200.</ly>
                <lz unit="reduced">200.</lz>
            </domain>
            <!-- instead of lx/ly/lz we might accept density -->
            <components>
                <include query="/components/moleculetype">./components.xml</include>
            </components>

            <phasespacepoint>
                <!--<generator name="CubicGridGenerator">
                    <specification>density</specification>
                    <density>0.003</density>
                    <binaryMixture>false</binaryMixture>
                </generator>-->
                <file type="ASCII">Benzene-CCl4.inp</file>
            </phasespacepoint>
        </ensemble>

        <algorithm>
            <parallelisation type="DomainDecomposition"/>
            <datastructure type="LinkedCells">
                <cellsInCutoffRadius>1</cellsInCutoffRadius>
                <traversalSelector>c08</traversalSelector>
            </datastructure>
            <cutoffs type="CenterOfMass" >
                <radiusLJ unit="reduced" >16.5351</radiusLJ>
            </cutoffs>
            <electrostatic type="ReactionField" >
                <epsilon>0</epsilon>
            </electrostatic>

            <thermostat type="VelocityScaling" component="1">
                <temperature>0.7</temperature>
            </thermostat>
        </algorithm>

        <output>
            <outputplugin name="VTKMoleculeWriter">
                <writefrequency>1</writefrequency>
                <writefrequencyOffset>0</writefrequencyOffset>
                <outputprefix>Benzene-CCl4</outputprefix>
            </outputplugin>
        </output>

        <plugin name="AdResS">
            <weightImpl>near</weightImpl>
            <fpregions>
                <region id="1">
                    <lowX>140.0</lowX><lowY>90.0</lowY><lowZ>90.0</lowZ>
                    <highX>160.0</highX><highY>110.0</highY><highZ>110.0</highZ>
                    <hybridDimX>20.0</hybridDimX><hybridDimY>20.0</hybridDimY><hybridDimZ>20.0</hybridDimZ>
                </region>
                <region id="2">
                    <lowX>220.0</lowX><lowY>90.0</lowY><lowZ>90.0</lowZ>
                    <highX>240.0</highX><highY>110.0</highY><highZ>110.0</highZ>
                    <hybridDimX>20.0</hybridDimX><hybridDimY>20.0</hybridDimY><hybridDimZ>20.0</hybridDimZ>
                </region>
            </fpregions>
        </plugin>

    </simulation>
</mardyn>
