<?xml version='1.0' encoding='UTF-8'?>
<mardyn version="20100525" >

  <refunits type="SI" >
    <length unit="nm">0.0529177</length>
    <mass unit="u">1000</mass>
    <energy unit="eV">27.2126</energy>
  </refunits>

  <simulation type="MD" >
    <integrator type="Leapfrog" >
      <timestep unit="reduced" >0.06124</timestep>
    </integrator>

    <run>
      <currenttime>0.</currenttime>
      <production>
        <steps>20000</steps>
      </production>
    </run>

    <ensemble type="NVT">
      <!-- Nparticles determined by the input file -->
      <temperature unit="reduced" >0.00088671</temperature>
      <domain type="box">
        <lx>199.587</lx>
        <ly>394.819</ly>
        <lz>199.587</lz>
      </domain>

      <components>
       <moleculetype id="1" name="co2_merker" >
    <site type="LJ126" id="1" name="O">
      <coords> <x>0.0</x> <y>0.0</y> <z>-2.4319</z> </coords>
      <mass>0.015999</mass>
      <sigma>5.62288</sigma>
      <epsilon>0.000318243</epsilon>
    </site>
    <site type="LJ126" id="2" name="O">
      <coords> <x>0.0</x> <y>0.0</y> <z>2.4319</z> </coords>
      <mass>0.015999</mass>
      <sigma>5.62288</sigma>
      <epsilon>0.000318243</epsilon>
    </site>
    <site type="LJ126" id="3" name="C">
      <coords> <x></x> <y></y> <z></z> </coords>
      <mass>0.012</mass>
      <sigma>5.31712</sigma>
      <epsilon>0.000039181</epsilon>
    </site>
    <site type="Quadrupole" id="4" >
      <coords> <x>0.0</x> <y>0.0</y> <z>0.0</z> </coords>
      <mass>0.0</mass>
      <quadrupolemoment> <x>0.0</x> <y>0.0</y> <z>1.0</z> <abs>-3.02883</abs> </quadrupolemoment>
    </site>
    <momentsofinertia rotaxes="xyz" >
      <Ixx>0.0</Ixx>
      <Iyy>0.0</Iyy>
      <Izz>0.0</Izz>
    </momentsofinertia>
  </moleculetype>
</components>

      <phasespacepoint>
        <file type="ASCII">./CO2_Merker_280.inp</file>
      </phasespacepoint>
    </ensemble>

    <algorithm>
      <parallelisation type="DomainDecomposition"></parallelisation>
      <datastructure type="LinkedCells">
        <cellsInCutoffRadius>1</cellsInCutoffRadius>
      </datastructure>
      <cutoffs type="CenterOfMass" >
        <radiusLJ unit="reduced" >16.92084</radiusLJ>
      </cutoffs>
      <electrostatic type="ReactionField" >
        <epsilon>1.0e+10</epsilon>
      </electrostatic>
      
      <longrange type="planar">
        <slabs>500</slabs>
        <smooth>false</smooth>
        <frequency>10</frequency>
        <writecontrol>
          <start>0</start>
          <frequency>5</frequency>
          <stop>11000</stop>
        </writecontrol>
      </longrange>
      
      <thermostats>
        <thermostat type="TemperatureControl">
          <control>
            <start>0</start>
            <frequency>1</frequency>
            <stop>1000000000</stop>
          </control>
          <regions>
            <region>
              <coords>
                <lcx>0.0</lcx> <lcy>0.0</lcy> <lcz>0.0</lcz>
                <ucx>199.587</ucx> <ucy>394.819</ucy> <ucz>199.587</ucz>
              </coords>
              <target>
                <temperature>0.00088671</temperature>
                <component>0</component>
              </target>
              <settings>
                <numslabs>5</numslabs>
                <exponent>0.4</exponent>
                <directions>xyz</directions>
              </settings>
            </region>
          </regions>
        </thermostat>
      </thermostats>
    </algorithm>

    <output>
      
    </output>
  </simulation>

</mardyn>
