<?xml version='1.0' encoding='UTF-8'?>
<mardyn version="20100525" >

	<refunits type="SI" >
		<length unit="nm">0.1</length>
		<mass unit="u">1</mass>
		<energy unit="K">1</energy>
	</refunits>

	<simulation type="MD" >
		<integrator type="Leapfrog" >
			<timestep unit="reduced" >0.00182367</timestep>
		</integrator>

		<run>
			<currenttime>0.0</currenttime> 
			<production>
				<steps>0</steps>
			</production>
		</run>

		<ensemble type="NVT">
			<!-- Nparticles determined by the input file -->
			<temperature unit="reduced" >0.80</temperature>
			<domain type="box">
				<lx>200</lx>
				<ly>200</ly>
				<lz>200</lz>
			</domain>

			<components>
				<include query="/components/moleculetype" >../../components_3c.xml</include>
				<include query="/mixing/rule">../../mixing_3c.xml</include>
			</components>

			<phasespacepoint>
				<generator name="MultiObjectGenerator">
					<objectgenerator>
						<filler type="ReplicaFiller">
							<input type="BinaryReader">
								<header>../run01/cp_binary-1.restart.header.xml</header>
								<data>../run01/cp_binary-1.restart.dat</data>
							</input>
						</filler>

						<object type="Cuboid">
							<lower> <x>0</x> <y>0</y> <z>0</z> </lower>
							<upper> <x>200</x> <y>50</y> <z>200</z> </upper>
						</object>
					</objectgenerator>
				</generator>
			</phasespacepoint>
<!--
			<phasespacepoint>
				<file type="binary">
					<header>../run02/cp_binary-10.restart.header.xml</header>
					<data>../run02/cp_binary-10.restart.dat</data>
				</file>
			</phasespacepoint>

			<phasespacepoint>
					<file type="ASCII">../run02/cp_ascii-10.restart.dat</file>
			</phasespacepoint>
-->
		</ensemble>

		<algorithm>
			<parallelisation type="DomainDecomposition">
				<!-- structure handled by DomainDecompMPIBase -->
				<!--<MPIGridDims> <x>64</x> <y>2</y> <z>72</z> </MPIGridDims> -->
			</parallelisation>
<!--
			<parallelisation type="KDDecomposition">
				<CommunicationScheme>direct</CommunicationScheme>
				<updateFrequency>100000</updateFrequency>
				<fullSearchThreshold>3</fullSearchThreshold>
				<splitBiggestDimension>0</splitBiggestDimension>
				<useVectorizationTuner>0</useVectorizationTuner>
				<generateNewFiles>0</generateNewFiles>
				<useExistingFiles>0</useExistingFiles>
			</parallelisation>
-->
			<datastructure type="LinkedCells">
				<cellsInCutoffRadius>1</cellsInCutoffRadius>
			</datastructure>
			<cutoffs type="CenterOfMass" >
			<defaultCutoff unit="reduced" >2.5</defaultCutoff>
				<radiusLJ unit="reduced" >2.5</radiusLJ>
			</cutoffs>
			<electrostatic type="ReactionField" >
				<epsilon>1.0e+10</epsilon>
			</electrostatic>
		</algorithm>

		<output>
			<outputplugin name="CheckpointWriter">
				<type>binary</type>
				<writefrequency>5000</writefrequency>
				<outputprefix>cp_binary</outputprefix>
			</outputplugin>
<!--
			<outputplugin name="ResultWriter">
				<writefrequency>10000</writefrequency>
				<outputprefix>result</outputprefix>
			</outputplugin>
-->
			<outputplugin name="MmpldWriter" type="simple">
				<include query="/spheres" >../../sphereparams_3c.xml</include>
				<writecontrol>
					<start>0</start>
					<writefrequency>1000</writefrequency>
					<stop>50000</stop>
					<framesperfile>0</framesperfile>
				</writecontrol>
				<outputprefix>megamol</outputprefix>  
			</outputplugin>
<!--
			<outputplugin name="SysMonOutput">
				<expression label="LoadAvg1">procloadavg:loadavg1</expression>
				<expression label="Free+BufferRAM [MB]">sysinfo:freeram sysinfo:bufferram + sysinfo:mem_unit * float 1048576 /</expression>
				<writefrequency>100000</writefrequency>
			</outputplugin>
-->
		</output>
	</simulation>

</mardyn>
