<?xml version='1.0' encoding='UTF-8'?>
<mardyn version="20100525">

	<refunits type="SI">
		<length unit="nm">0.1</length>
		<mass unit="u">1</mass>
		<energy unit="K">1</energy>
	</refunits>

	<simulation type="MD">
		<integrator type="Leapfrog">
			<!-- MD ODE integrator -->
			<timestep unit="reduced">0.000000000001</timestep>
		</integrator>

		<run>
			<currenttime>0</currenttime>
			<equilibration>
				<!-- this value affects RDFwriter! -->
				<steps>0</steps>
			</equilibration>
			<production>
				<steps>1000</steps>
			</production>
		</run>

		<ensemble type="NVT">
			<!-- Nparticles determined by the input file -->
			<temperature unit="reduced">0.0003166816826564526</temperature>
			<domain type="box">
				<lx>301</lx>
				<ly>301</ly>
				<lz>301</lz>
			</domain>

			<components>
				<include query="/components/moleculetype">./components.xml</include>
			</components>

			<phasespacepoint>
				<generator name="PerCellGenerator">
					<numMoleculesPerCell>50</numMoleculesPerCell>
					<initTemperature>0.0003</initTemperature>
				</generator>
			</phasespacepoint>
		</ensemble>

		<algorithm>
			<parallelisation type="DomainDecomposition"/>
			<datastructure type="LinkedCells">
				<cellsInCutoffRadius>1</cellsInCutoffRadius>
			</datastructure>
			<cutoffs type="CenterOfMass">
				<radiusLJ unit="reduced">30</radiusLJ>
			</cutoffs>
			<electrostatic type="ReactionField">
				<epsilon>1.0e+10</epsilon>
			</electrostatic>

			<!--
			<thermostats>
			  <thermostat type="VelocityScaling" componentName="Argon">
				<temperature>1</temperature>
			  </thermostat>
			</thermostats>
			-->
		</algorithm>
	</simulation>
</mardyn>
