<?xml version='1.0' encoding='UTF-8'?>
<mardyn version="20100525" >

    <refunits type="SI" >
        <length unit="nm">0.1</length>
        <mass unit="u">1</mass>
        <energy unit="K">1</energy>
    </refunits>

    <simulation type="MD" >
        <integrator type="Leapfrog" >
            <timestep unit="reduced" >0.00182367</timestep>
        </integrator>

        <run>
            <currenttime>0.0</currenttime> 
            <production>
                <steps>1000000</steps>
            </production>
        </run>

        <ensemble type="NVT">
            <!-- Nparticles determined by the input file -->
            <temperature unit="reduced" >1.80</temperature>
            <domain type="box">
                <lx>132.6</lx>
                <ly>591.891</ly>
                <lz>132.6</lz>
            </domain>

            <components>
                <include query="/components/moleculetype" >components.xml</include>
            </components>

            <phasespacepoint>
                <generator name="MultiObjectGenerator">
                    <objectgenerator>
                        <filler type="ReplicaFiller">
                            <input type="BinaryReader">
                                <header>input.header.xml</header>
                                <data>input.dat</data>
                            </input>
                        </filler>
                        <object type="Cuboid">
                            <!-- vary the y-thickness for vastly different scenarios -->
                            <lower> <x>0</x> <y>290.946</y> <z>0</z> </lower>
                            <upper> <x>131.531</x> <y>300.946</y> <z>131.531</z> </upper>
                        </object>
                    </objectgenerator>
                </generator>
            </phasespacepoint>
        </ensemble>

        <algorithm>
            <parallelisation type="GeneralDomainDecomposition">
                <updateFrequency>5000</updateFrequency>
                <timerForLoad>SIMULATION_FORCE_CALCULATION</timerForLoad>
                <loadBalancer type="ALL"></loadBalancer>
            </parallelisation>


            <!--
            <datastructure type="LinkedCells"/>
            -->
            <datastructure type="AutoPas">
                <!-- <tuningStragegy>fullsearch</tuningStragegy> -->
                <tuningStragegy>predictive-tuning</tuningStragegy>
                <extrapolationMethod>linear-regression</extrapolationMethod>
                <blacklistRange>3</blacklistRange>

                <selectorStrategy>fastestMean</selectorStrategy>
                <tuningInterval>5000</tuningInterval>
                <tuningSamples>10</tuningSamples>
                <rebuildFrequency>10</rebuildFrequency>
                <skin>0.5</skin>
            </datastructure>

            <cutoffs type="CenterOfMass" >
                <defaultCutoff unit="reduced" >2.5</defaultCutoff>
                <radiusLJ unit="reduced" >2.5</radiusLJ>
            </cutoffs>
            <electrostatic type="ReactionField" >
                <epsilon>1.0e+10</epsilon>
            </electrostatic>

            <thermostats>
                <thermostat type="TemperatureControl">
                    <control>
                        <start>0</start>
                        <frequency>1</frequency>
                        <stop>0</stop>
                    </control>
                    <regions>
                        <region>
                            <coords>
                                <lcx>0.0</lcx> <lcy>0.0</lcy> <lcz>0.0</lcz>
                                <ucx>16.4414</ucx> <ucy>16.4414</ucy> <ucz>16.4414</ucz>
                            </coords>
                            <target>
                                <temperature>1.80</temperature>
                                <component>0</component>
                            </target>
                            <settings>
                                <numslabs>1</numslabs>
                                <exponent>0.4</exponent>
                                <directions>xyz</directions>
                            </settings>
                            <fileprefix>beta_log</fileprefix>
                            <writefreq>100000000</writefreq>
                        </region>
                    </regions>
                </thermostat>
            </thermostats>
        </algorithm>

        <output>

            <!--
            <outputplugin name="VTKMoleculeWriter">
                <outputprefix>expl-liquid</outputprefix>
                <writefrequency>5000</writefrequency>
            </outputplugin>
            -->


            <!--
            <outputplugin name="DecompWriter">
                <writefrequency>5000</writefrequency>
            </outputplugin>
            -->
     </output>
 </simulation>
</mardyn>
