---
Language:        Cpp
BasedOnStyle:  Google
AccessModifierOffset: -2  #-2
AllowShortBlocksOnASingleLine: Empty #Never
AllowShortIfStatementsOnASingleLine: Never  #Never
AllowShortLoopsOnASingleLine: false  #false
  BeforeCatch:     true #false
  BeforeElse:      true #false
BreakBeforeBraces: Custom #Attach
ColumnLimit:     120 #80
IncludeBlocks:   Preserve  #Preserve
IndentCaseLabels: false  #false
IndentWidth:     4 #4
ObjCBlockIndentWidth: 4 #4
PenaltyReturnTypeOnItsOwnLine: 2000000 #60
PointerAlignment: Right #Right
TabWidth:        4 #8
UseTab:          Always #Never
