---
Language:        Cpp
BasedOnStyle:  Google
AccessModifierOffset: -4  #-2
AllowShortBlocksOnASingleLine: Empty #Never
AllowShortIfStatementsOnASingleLine: Never  #Never
AllowShortLoopsOnASingleLine: false  #false
BreakBeforeBraces: Attach
ColumnLimit:     120 #80
IncludeBlocks:   Regroup
IndentCaseLabels: true  #false
IndentWidth:     4 #2
ObjCBlockIndentWidth: 4 #2
PenaltyReturnTypeOnItsOwnLine: 2000000 #tries to force function return type and function name to be on the same line, default 200 (google)
PointerAlignment: Left #Right
TabWidth:        4 #8
UseTab:          Always #Never
