<?xml version='1.0' encoding='UTF-8'?>
<mardyn version="20100525" >
    <refunits type="SI" >
        <!-- standard units - should be  used for internal reduction one day, but default for all values in simulation remain "reduced" -->
        <length unit="nm">0.0529177</length>	<!-- default: nm - also m,pm,fm or Angstroem may be used in the future? -->
        <mass unit="u">1.0</mass> <!-- also atomistic mass unit Dalton "u" in the future? -->
        <energy unit="eV">27.2126</energy> <!-- again: offer other units -->
    </refunits>

    <!-- simulation options -->
    <simulation type="MD" >
        <run>
            <currenttime>0</currenttime>
            <equilibration>
                <steps>0</steps>
            </equilibration>
            <production>
                <steps>1000</steps>
            </production>
        </run>
        <integrator type="Leapfrog">
            <!-- MD ODE integrator -->
            <timestep unit="reduced">0.001</timestep>
        </integrator>
        <ensemble type="NVT">
            <!--Ensemble is the main topic of the simulation -->
            <temperature unit="reduced" >300</temperature>	<!-- in future also units="K" -->
            <domain type="box">
                <lx unit="reduced">36</lx>
                <ly unit="reduced">20</ly>
                <lz unit="reduced">20</lz>
            </domain>
            <!-- instead of lx/ly/lz we might accept density -->
            <components>
                <include query="/components/moleculetype">./components.xml</include>
            </components>

            <phasespacepoint>
                <generator name="MultiObjectGenerator">
                    <objectgenerator>
                        <filler type="ReplicaFiller">
                            <input type="BinaryReader">
                                <header>ValTetTest6-1.restart.header.xml</header>
                                <data>ValTetTest6-1.restart.dat</data>
                            </input>
                        </filler>

                        <object type="Cuboid">
                            <lower> <x>0</x> <y>0</y> <z>0</z> </lower>
                            <upper> <x>36</x> <y>20</y> <z>20</z> </upper>
                        </object>
                    </objectgenerator>
                </generator>
            </phasespacepoint>
        </ensemble>

        <algorithm>
            <parallelisation type="DomainDecomposition"/>
            <datastructure type="LinkedCells">
                <cellsInCutoffRadius>1</cellsInCutoffRadius>
                <traversalSelector>c08</traversalSelector>
            </datastructure>
            <cutoffs type="CenterOfMass" >
                <radiusLJ unit="reduced" >3.5</radiusLJ>
            </cutoffs>
            <electrostatic type="ReactionField" >
                <epsilon>0</epsilon>
            </electrostatic>
            <thermostats>
                <thermostat type="TemperatureControl">
                    <control>
                        <start>0</start>
                        <frequency>1</frequency>
                        <stop>1000000000</stop>
                    </control>
                    <regions>
                        <region>
                            <method>Andersen</method>
                            <coords>
                                <lcx>0.0</lcx>
                                <lcy>0.0</lcy>
                                <lcz>0.0</lcz>
                                <ucx>36</ucx>
                                <ucy>20</ucy>
                                <ucz>20</ucz>
                            </coords>
                            <target>
                                <temperature>300.0</temperature>
                                <component>1</component>
                            </target>
                            <settings>
                                <nu>0.5</nu>
                            </settings>
                        </region>
                        <region>
                            <method>Andersen</method>
                            <coords>
                                <lcx>0.0</lcx>
                                <lcy>0.0</lcy>
                                <lcz>0.0</lcz>
                                <ucx>36</ucx>
                                <ucy>20</ucy>
                                <ucz>20</ucz>
                            </coords>
                            <target>
                                <temperature>300.0</temperature>
                                <component>2</component>
                            </target>
                            <settings>
                                <nu>0.5</nu>
                            </settings>
                        </region>
                        <region>
                            <method>Andersen</method>
                            <coords>
                                <lcx>0.0</lcx>
                                <lcy>0.0</lcy>
                                <lcz>0.0</lcz>
                                <ucx>36</ucx>
                                <ucy>20</ucy>
                                <ucz>20</ucz>
                            </coords>
                            <target>
                                <temperature>300.0</temperature>
                                <component>3</component>
                            </target>
                            <settings>
                                <nu>0.5</nu>
                            </settings>
                        </region>
                    </regions>
                </thermostat>
            </thermostats>
        </algorithm>

        <output>
            <!--outputplugin name="CheckpointWriter">
                <type>binary</type>
                <writefrequency>20000</writefrequency>
                <outputprefix>ValTetTest6</outputprefix>
            </outputplugin-->
            <!--outputplugin name="RDF">
                <writefrequency>20</writefrequency>
                <samplingfrequency>1</samplingfrequency>
                <outputprefix>default</outputprefix>
                <bins>1000</bins>
                <intervallength>0.01</intervallength>
            </outputplugin-->
            <outputplugin name="PressureProfiler">
                <bins>
                    <x>18</x><y>10</y><z>10</z>
                </bins>
                <outdims>xyz</outdims> <!--can be xyz yz y etc -->
                <mode>MOP</mode>
                <samples>100</samples>
                <sampleFreq>1</sampleFreq>
                <writeFreq>100</writeFreq>
                <filename>Pressures</filename>
            </outputplugin>
        </output>
        <!--plugin name="AdResS">
            <weightImpl>near</weightImpl>
            <enableFTH>
                <fmax>1e+9</fmax>
                <logFTH>false</logFTH>
                <logDensity>false</logDensity>
                <rho>0.1</rho>
                <createFTH>
                    <sampleGap>2000</sampleGap>
                    <threshold>0.05</threshold>
                    <convFactor>0</convFactor>
                    <sampleBinSize>3.6e-1</sampleBinSize>
                </createFTH>
            </enableFTH>
            <fpregions>
                <region id="1">
                    <lowX>18</lowX><lowY>0.0</lowY><lowZ>0.0</lowZ>
                    <highX>18</highX><highY>20</highY><highZ>20</highZ>
                    <hybridDimX>18</hybridDimX><hybridDimY>0.0</hybridDimY><hybridDimZ>0.0</hybridDimZ>
                </region>
            </fpregions>
        </plugin-->
        <plugin name="AdResS">
            <weightImpl>near</weightImpl>
            <enableFTH>
                <fmax>1e+5</fmax>
                <logFTH>true</logFTH>
                <logDensity>false</logDensity>
                <rho>0.1</rho>
                <!--createFTH>
                    <sampleGap>200</sampleGap>
                    <threshold>5e-5</threshold>
                    <convFactor>5e+5</convFactor>
                    <sampleBinSize>3.6e-1</sampleBinSize>
                </createFTH-->
                <include query="/forceFunction">./F_TH.xml</include>
            </enableFTH>
            <fpregions>
                <region id="1">
                    <lowX>15</lowX><lowY>0.0</lowY><lowZ>0.0</lowZ>
                    <highX>21</highX><highY>20</highY><highZ>20</highZ>
                    <hybridDimX>12</hybridDimX><hybridDimY>0.0</hybridDimY><hybridDimZ>0.0</hybridDimZ>
                </region>
            </fpregions>
        </plugin>

        <!--plugin name="SpatialProfile">
            <mode>cartesian</mode>
            <x>100</x>
            <y>1</y>
            <z>1</z>
            <writefrequency>2000</writefrequency>
            <timesteps>
                <init>1</init>
                <recording>1</recording>
            </timesteps>
            <outputprefix>cartesian</outputprefix>
            <profiledComponent>all</profiledComponent>
            <profiles>
                <density>1</density>
                <temperature>0</temperature>
                <velocity>0</velocity>
                <velocity3d>0</velocity3d>
                <virial>0</virial>
            </profiles>
        </plugin-->
    </simulation>
</mardyn>
